fastapi
uvicorn[standard]
python-multipart
torch
transformers<5.0.0
Pillow
accelerate
python-dotenv
sentence-transformers
onnx
onnxscript
langchain-text-splitters
httpx
langchain-ollama
langchain-core
